Repository welschoff/watchnext: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,css,md,json,ts,tsx}": "prettier --write"
}

:sparkles: Create FriendsPage and fetch all users
  src/assets/Profile.svg
  src/components/Friendlist/Friendlist.module.css
  src/components/Friendlist/Friendlist.stories.tsx
  src/components/Friendlist/Friendlist.tsx
  src/main.tsx
  src/pages/FriendsPage/FriendsPage.module.css
  src/pages/FriendsPage/FriendsPage.stories.tsx
  src/pages/FriendsPage/FriendsPage.tsx
  src/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Link from Overlay Menu to FriendsPage
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Get all users without Current user as friends
  samples.http
  server/index.ts
  src/pages/FriendsPage/FriendsPage.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Create Friendspage and get all users as friends except 'Current user'
  samples.http
  server/index.ts
  src/components/Friendlist/Friendlist.tsx
  src/pages/FriendsPage/FriendsPage.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Display Watchlist from a friend
  package-lock.json
  package.json
  samples.http
  server/index.ts
  src/components/Friendlist/Friendlist.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.stories.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/OverlayMenu/OverlayMenu.tsx
  src/main.tsx
  src/pages/FriendsPage/FriendsPage.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/utils/api.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Update FriendsWatchlist style
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Styles Friends Watchlist Page
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change styling
  samples.http
  server/index.ts
  src/assets/tmdb.png
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/OverlayMenu/OverlayMenu.tsx
  src/pages/Detail/Detail.module.css
  src/pages/Detail/Detail.tsx
  src/utils/api.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: DetailPage layout --not-finished
  src/assets/heart.svg
  src/components/AddButton/AddButton.module.css
  src/components/AddButton/AddButton.tsx
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/pages/Detail/Detail.tsx
  src/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of DetailPage
  package-lock.json
  package.json
  src/assets/back.svg
  src/components/AddButton/AddButton.module.css
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of PopularPage
  src/components/GetPopular/GetPopular.module.css
Due: stylelint --fix, prettier --write

:lipstick: Change styles of Watchlist
  src/components/DetailCard/DetailCard.tsx
  src/components/RemoveButton/RemoveButton.tsx
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Watchlist/Watchlist.tsx
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of Watchlist and Detailpage
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.stories.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Detail/Detail.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/pages/Watchlist/Watchlist.tsx
  src/types.ts
  src/utils/useAddToWatchlist.ts
  src/utils/useDeleteFromWatchlist.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of Search Page
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of Overlaymenu and add a Link frmo Friendwatchlist to DetailPage
  src/assets/logout.svg
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
  src/main.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add Genre to FriendWatchlist
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:rocket: Switch Routes into App.tsx and run heroku
  server/index.ts
  src/App.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:bug: Wrong import in main.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add an animation to navLinks
  package-lock.json
  package.json
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Make Popular page Responsive
  src/components/GetPopular/GetPopular.module.css
  src/components/OverlayMenu/OverlayMenu.module.css
  src/pages/Popular/Popular.module.css
Due: stylelint --fix, prettier --write

:iphone: Make Watchlist responsive
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/WatchlistCard/WatchlistCard.module.css
  src/pages/Watchlist/Watchlist.module.css
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Make FriendsWatchlist responsive
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/pages/FriendsWatchlist/FriendsWatchlist.module.css
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Make DetailCard responsive
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/WatchlistCard/WatchlistCard.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Make SearchPage responsive
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
  src/components/WatchlistCard/WatchlistCard.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Display error message if login failed
  src/components/LoginForm/LoginForm.module.css
  src/components/LoginForm/LoginForm.tsx
  src/utils/api.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add title to OverlayMenu
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
  src/pages/FriendsPage/FriendsPage.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:bug: Delete wrong imports
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, prettier --write

:bug: Fix a bug
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:iphone: Work on responsive design
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change App Logo on LoginPage
  src/assets/watchnext.png
  src/pages/LoginPage/Login.module.css
  src/pages/LoginPage/Login.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Update the UI and style files
  src/components/DetailCard/DetailCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.module.css
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/GetPopular/GetPopular.module.css
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
  src/components/SearchResult/SearchResult.module.css
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/globals.css
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:memo: Add README
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

:lipstick: Update styles files
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
  src/pages/LoginPage/Login.module.css
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change size of input fields
  src/components/LoginForm/LoginForm.module.css
  src/pages/Search/Search.module.css
Due: stylelint --fix, prettier --write

:recycle: Create general Props in types.ts
  src/components/DetailCard/DetailCard.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Detail/Detail.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/pages/Watchlist/Watchlist.tsx
  src/types.ts
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, prettier --write

:recycle: Set genres from SeriesProps to not required
  src/components/DetailCard/DetailCard.tsx
  src/components/FriendsWatchlistCard/FriendsWatchlistCard.tsx
  src/components/SearchResult/SearchResult.tsx
  src/pages/Search/Search.tsx
  src/types.ts
Due: eslint --cache --fix, prettier --write

:coffin: Remove dead code
  src/components/DetailCard/DetailCard.tsx
  src/components/GetPopular/GetPopular.tsx
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.stories.tsx
  src/components/Navbar/Navbar.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/FriendsPage/FriendsPage.tsx
  src/pages/LoginPage/Login.stories.tsx
  src/pages/LoginPage/Login.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Clear Cookie when logout
  server/index.ts
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, prettier --write

:recycle: Delete console.logs
  src/pages/Watchlist/Watchlist.tsx
  src/utils/api.ts
Due: eslint --cache --fix, prettier --write
