Repository welschoff/watchnext: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: make port flexible
  server/index.ts
Due: eslint --cache --fix, prettier --write

Change title
  index.html
Due: none

:sparkles: Prepare LoginForm
  src/components/LoginForm/LoginForm.module.css
  src/components/LoginForm/LoginForm.stories.tsx
  src/components/LoginForm/LoginForm.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Prepare Login Page
  package-lock.json
  package.json
  server/index.ts
  src/App.tsx
  src/components/LoginForm/LoginForm.module.css
  src/components/LoginForm/LoginForm.tsx
  src/globals.css
  src/pages/Login.module.css
  src/pages/Login.stories.tsx
  src/pages/Login.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:heavy_plus_sign: Add mongodb and dotenv
  .gitignore
  samples.http
  server/database.ts
  server/index.ts
Due: eslint --cache --fix, prettier --write

:recycle: Refector code
  .storybook/preview.js
  samples.http
  server/index.ts
  src/App.tsx
  src/components/LoginForm/LoginForm.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Prepare navbar
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.stories.tsx
  src/components/Navbar/Navbar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Create burger/overlaymenu
  package-lock.json
  package.json
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.stories.tsx
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:dizzy: Add transforms and transitions
  src/assets/friends.svg
  src/assets/myseries.svg
  src/assets/star.svg
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Add some style to overlaymenu
  src/assets/Vector.svg
  src/assets/rating.svg
  src/assets/star.svg
  src/components/OverlayMenu/OverlayMenu.module.css
Due: stylelint --fix, prettier --write

:sparkles: Add Search Component
  src/assets/star.svg
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
  src/globals.css
  src/pages/Search/Search.module.css
  src/pages/Search/Search.stories.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:recycle: Refactor code
  samples.http
  src/assets/star.svg
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
  src/globals.css
  src/pages/Search/Search.module.css
  src/pages/Search/Search.stories.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:recycle: Refactor code
  src/assets/star.svg
  src/globals.css
Due: stylelint --fix, prettier --write

:sparkles: Prepare popular page
  src/components/GetPopular/GetPopular.module.css
  src/components/GetPopular/GetPopular.tsx
  src/components/LoginForm/LoginForm.module.css
  src/globals.css
  src/pages/Popular/Popular.stories.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: fetch API from data from Server
  package-lock.json
  package.json
  samples.http
  server/index.ts
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

:recycle: Refactor code
  samples.http
  src/components/GetPopular/GetPopular.module.css
  src/components/SearchResult/SearchResult.module.css
  src/components/SearchResult/SearchResult.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Prepare Detail Page
  samples.http
  server/index.ts
  src/assets/Add.svg
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/LoginForm/LoginForm.tsx
  src/pages/Detail/Detail.module.css
  src/pages/Detail/Detail.stories.tsx
  src/pages/Detail/Detail.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Create some Routers
  package-lock.json
  package.json
  server/index.ts
  src/components/DetailCard/DetailCard.tsx
  src/components/GetPopular/GetPopular.module.css
  src/components/GetPopular/GetPopular.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
  src/components/SearchResult/SearchResult.tsx
  src/main.tsx
  src/pages/Detail/Detail.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.module.css
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:heavy_plus_sign: Add http-proxy-middleware
  .storybook/middleware.js
Due: eslint --cache --fix, prettier --write

:bug: npm install http-proxy-middleware
  package-lock.json
  package.json
Due: prettier --write

:sparkles: Create a POST in Request for Login
  samples.http
  server/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Fetch data from mongodb to login a user at Login Page
  server/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/types.ts
  src/utils/api.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Finished Login
  package-lock.json
  package.json
  server/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/SearchResult/SearchResult.tsx
  src/main.tsx
  src/pages/LoginPage/Login.module.css
  src/pages/LoginPage/Login.stories.tsx
  src/pages/LoginPage/Login.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:recycle: Refactor code
  samples.http
  server/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/globals.css
  src/pages/Search/Search.tsx
  src/utils/api.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Prepare Watchlist
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Create a POST Route to add series to database
  samples.http
  server/database.ts
  server/index.ts
Due: eslint --cache --fix, prettier --write

:heavy_plus_sign: Install cookie-parser and import to index.ts
  package-lock.json
  package.json
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Prepare Watchlist
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Watchlist/Watchlist.stories.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Create a POST Route to add series to the database
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Create Routes
  src/components/OverlayMenu/OverlayMenu.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Change Page Stylings
  .storybook/preview.tsx
  src/components/DetailCard/DetailCard.tsx
  src/components/GetPopular/GetPopular.module.css
  src/components/GetPopular/GetPopular.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/main.tsx
  src/pages/Detail/Detail.tsx
  src/pages/Popular/Popular.module.css
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:lipstick: Change style of popular Page
  src/components/GetPopular/GetPopular.module.css
  src/components/GetPopular/GetPopular.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Create a PATCH to add a series to a user
  samples.http
  server/database.ts
  server/index.ts
  src/pages/Detail/Detail.tsx
  src/utils/api.ts
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Add series to watchlist
  samples.http
  server/index.ts
  src/components/DetailCard/DetailCard.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Detail/Detail.tsx
  src/pages/Watchlist/Watchlist.tsx
  src/types.ts
  src/utils/api.ts
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, prettier --write

:recycle: Refactor code
  samples.http
  server/index.ts
  src/components/DetailCard/DetailCard.tsx
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Create a PUT Request to delete a series from Watchlist
  samples.http
  server/index.ts
Due: eslint --cache --fix, prettier --write

:sparkles: Delete a series from Watchlist
  src/components/WatchlistCard/WatchlistCard.tsx
  src/utils/useDeleteFromWatchlist.ts
Due: eslint --cache --fix, prettier --write

:lipstick: Change style of Watchlist and add series-name
  src/assets/heart.svg
  src/assets/remove.svg
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/pages/Detail/Detail.tsx
  src/types.ts
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Sort Watchlist by Rating
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Link to Detail from Watchlist
  src/components/AddButton/AddButton.tsx
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/OverlayMenu/OverlayMenu.module.css
  src/components/WatchlistCard/WatchlistCard.module.css
  src/components/WatchlistCard/WatchlistCard.tsx
  src/main.tsx
  src/pages/Detail/Detail.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Watchlist/Watchlist.tsx
  src/types.ts
  src/utils/useAddToWatchlist.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,css,md,json,ts,tsx}
