Repository welschoff/watchnext: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add Page transitions
  src/App.tsx
Due: eslint --cache --fix, prettier --write

:lipstick: Change Color when NavLink is active
  src/components/OverlayMenu/OverlayMenu.tsx
Due: eslint --cache --fix, prettier --write

delete page transitions
  src/App.tsx
Due: eslint --cache --fix, prettier --write

Add infinite scroll to popular page
  package.json
  server/index.ts
  src/pages/Popular/Popular.tsx
  src/pages/Popular/useGetPopular.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Small Clean Up
  src/App.tsx
  src/pages/Popular/Popular.tsx
Due: eslint --cache --fix, prettier --write

Create new navbar
  package.json
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/pages/Popular/Popular.tsx
  src/pages/Search/Search.module.css
  src/pages/Search/Search.tsx
  src/pages/Watchlist/Watchlist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Change color when NavLink is active
  src/components/Navbar/Navbar.tsx
  src/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add link to Friendspage to navbar
  src/components/Navbar/Navbar.tsx
  src/pages/FriendsPage/FriendsPage.tsx
Due: eslint --cache --fix, prettier --write

Change title
  index.html
Due: none

:lipstick: styl
  src/components/GetPopular/GetPopular.module.css
  src/components/GetPopular/GetPopular.tsx
  src/pages/Popular/Popular.module.css
  src/pages/Popular/Popular.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Different changes
  index.html
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/pages/FriendsWatchlist/FriendsWatchlist.tsx
  src/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add Trailer to Detailpage
  package.json
  samples.http
  server/index.ts
  src/components/DetailCard/DetailCard.module.css
  src/components/DetailCard/DetailCard.tsx
  src/components/Trailer/Trailer.tsx
  src/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

:sparkles: Add navigate back functionality
  src/components/DetailCard/DetailCard.tsx
Due: eslint --cache --fix, prettier --write

:sparkles: Add actors to Detailview
  samples.http
  server/index.ts
  src/components/Actors/Actor.module.css
  src/components/Actors/Actor.tsx
  src/components/DetailCard/DetailCard.module.css
  src/pages/Detail/Detail.module.css
  src/pages/Detail/Detail.tsx
  src/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,css,md,json,ts,tsx}
